[user]
	name = tmhr94
	email = 14220000+tmhr94@users.noreply.github.com
[core]
  excludesfile = ~/.gitignore_global
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[color]
  ui = auto
[ghq]
  root = ~/Documents/git
[column]
  ui = auto
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[merge]
	conflictstyle = zdiff3
[commit]
	verbose = true
